<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sekigae.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08E62D531C38BA1900E4966B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08E62D6C1C38BA1900E4966B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08E62D771C38BA1900E4966B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
